@charset "UTF-8";
.registe {
  background: #f9f9f9;
  color: #666;
  overflow-y: auto;
  height: 100vh;
  font-size: 14px;
  font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif; }
  .registe .wrapper {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: -webkit-box;
    display: box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -ms-flex-pack: center; }
    .registe .wrapper .mauto, .registe .wrapper .regbox {
      margin: 0 auto; }
    .registe .wrapper input::-webkit-input-placeholder {
      font-size: 14px;
      font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
      color: #9d9d9d; }
    .registe .wrapper .wrap {
      padding-bottom: 80px;
      padding-top: 100px \9; }
    .registe .wrapper .layout {
      width: 854px;
      margin: 0 auto;
      padding-bottom: 10px; }
    .registe .wrapper .n-frame {
      background: #fff;
      padding: 34px 34px 0;
      border: 1px solid #e6e6e6;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      min-height: 400px;
      _height: 400px; }
    .registe .wrapper .device-frame {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      padding-top: 0; }
    .registe .wrapper .title-item {
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;
      clear: both; }
    .registe .wrapper .device-frame {
      padding-bottom: 30px; }
      .registe .wrapper .device-frame .title-item {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0; }
    .registe .wrapper .c_b:before, .registe .wrapper .c_b:after {
      content: "";
      display: block; }
    .registe .wrapper .c_b:after {
      clear: both; }
    .registe .wrapper .external_logo_area {
      padding-bottom: 40px;
      display: block; }
    .registe .wrapper .milogo {
      width: 49px;
      height: 48px;
      margin: 0 auto;
      display: block;
      cursor: default;
      background-image: url(../images/registe/milogo.png); }
    .registe .wrapper a {
      color: #46639c; }
    .registe .wrapper .t_c {
      text-align: center; }
    .registe .wrapper .title-big, .registe .wrapper .title-bigger, .registe .wrapper .title-biggest, .registe .wrapper .title-normal, .registe .wrapper .title_big30 {
      font-size: 16px;
      color: #333;
      line-height: 1.5;
      font-weight: bold; }
    .registe .wrapper .title_big30 {
      font-size: 30px;
      font-weight: normal; }
    .registe .wrapper .ft14, .registe .wrapper .regbox h4, .registe .wrapper .n_succ h4, .registe .wrapper .acc_conversion {
      font-size: 14px; }
    .registe .wrapper .listwrap {
      padding-bottom: 15px;
      position: relative; }
    .registe .wrapper .listwrap_inside_panel .listwrap {
      float: left; }
    .registe .wrapper .regbox {
      width: 332px;
      padding: 30px 0;
      line-height: 20px; }
      .registe .wrapper .regbox .tit_normal {
        padding-bottom: 5px;
        color: #333;
        font-weight: normal; }
    .registe .wrapper .privacy_box {
      text-align: center;
      padding-top: 40px; }
    .registe .wrapper .msg {
      color: #9d9d9d; }
      .registe .wrapper .msg a {
        color: #333; }
    .registe .wrapper .tits {
      height: 40px;
      padding-left: 14px;
      line-height: 40px;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #e8e8e8;
      color: #555;
      cursor: pointer; }
    .registe .wrapper .c_b {
      zoom: 1; }
    .registe .wrapper .n_checked {
      padding: 10px 0;
      cursor: pointer;
      display: inline-block; }
    .registe .wrapper .n_checked.now .icon_select, .registe .wrapper .checkbox .now .icon_select, .registe .wrapper .checkbox_container.now .icon_select {
      background: url(../images/registe/v.png); }
    .registe .wrapper .ftbold, .registe .wrapper .msg em, .registe .wrapper .msg a {
      font-weight: bold; }
    .registe .wrapper .tits tt, .registe .wrapper .tits p {
      float: left;
      width: 275px;
      border-right: 1px solid #e8e8e8;
      cursor: pointer; }
    .registe .wrapper .icon_cirarr {
      float: right;
      background: url(../images/registe/icon_user.png);
      width: 16px;
      height: 16px;
      margin: 11px 12px 0 12px; }
    .registe .wrapper .country-container-panel {
      width: 100%;
      background: #fff;
      height: 270px;
      line-height: 30px;
      border: 1px solid #e8e8e8;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      left: 0;
      top: 41px;
      z-index: 98;
      display: none; }
    .registe .wrapper .search-code {
      padding: 10px; }
    .registe .wrapper em, .registe .wrapper tt, .registe .wrapper i {
      font-style: normal;
      font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif; }
    .registe .wrapper .search-code-input {
      width: 274px;
      height: 22px;
      line-height: 22px;
      padding: 5px 10px 5px 10px;
      display: block;
      border: 1px solid #e0e0e0; }
    .registe .wrapper input {
      color: #333; }
    .registe .wrapper .country-container-panel .header, .registe .wrapper .country-container-panel h6 {
      background: #fcdecc;
      padding-left: 10px;
      margin-bottom: 6px;
      line-height: 30px;
      color: #ef5b00 !important; }
    .registe .wrapper .country-container-panel .record, .registe .wrapper .country-container-panel p {
      padding: 0 10px;
      line-height: 39px;
      clear: both;
      overflow: hidden;
      color: #000;
      border-bottom: 1px solid #e0e0e0;
      cursor: pointer; }
    .registe .wrapper .country-container-panel .record span {
      height: 39px;
      overflow: hidden; }
    .registe .wrapper .country-container-panel .record-country {
      float: left;
      max-width: 74%;
      color: #000;
      cursor: pointer; }
    .registe .wrapper .country-container-panel .record-code {
      float: right;
      max-width: 20%;
      color: #9d9d9d; }
    .registe .wrapper .country-container-panel .header {
      cursor: default; }
    .registe .wrapper .region_tip_text {
      margin-top: -10px;
      margin-bottom: 15px; }
    .registe .wrapper .listwrap_inside_panel .tits {
      width: 54px;
      text-align: center;
      padding: 0 9px; }
    .registe .wrapper .listwrap_inside_panel .tits p {
      width: auto;
      border-right: 0 none; }
    .registe .wrapper .icon_arrow {
      float: left;
      margin: 17px 0 0 10px;
      width: 0;
      height: 0;
      line-height: 0;
      font-size: 0;
      border-width: 5px;
      border-style: solid;
      border-color: #9d9d9d transparent transparent transparent; }
    .registe .wrapper .listwrap_inside_panel .country-container-panel {
      width: 332px; }
    .registe .wrapper .pb15, .registe .wrapper .inputbg {
      padding-bottom: 15px; }
    .registe .wrapper .listwrap_inside_panel .inputbg {
      float: left; }
    .registe .wrapper .inputbg input {
      width: 310px; }
    .registe .wrapper .listwrap_inside_panel .inputbg input {
      width: 236px; }
    .registe .wrapper .err_label {
      border: 1px solid #f66 !important; }
    .registe .wrapper .labelbox, .registe .wrapper .input_bg, .registe .wrapper .tits_list, .registe .wrapper .borderbox {
      border: 1px solid #e8e8e8; }
    .registe .wrapper .labelbox, .registe .wrapper .input_bg {
      height: 40px;
      line-height: 40px;
      display: inline-block; }
    .registe .wrapper .listwrap_inside_panel .labelbox {
      margin-left: -1px;
      position: relative;
      z-index: 3; }
    .registe .wrapper input {
      background: none;
      border: 0 none; }
    .registe .wrapper .labelbox input, .registe .wrapper .input_bg input {
      height: 20px;
      line-height: 20px;
      padding: 10px;
      display: inline-block; }
    .registe .wrapper .err_tip, .registe .wrapper .err_tip_independ {
      margin-bottom: 5px;
      line-height: 20px;
      font-size: 14px;
      color: #f66;
      display: none; }
    .registe .wrapper .err_tip {
      margin-top: -8px; }
    .registe .wrapper .icon_error, .registe .wrapper .err_tip_independ {
      background-image: url(../images/registe/1.png);
      background-repeat: no-repeat;
      _background-image: none; }
    .registe .wrapper .icon_error {
      width: 14px;
      height: 14px;
      margin: -1px 5px 0 0;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle; }
    .registe .wrapper .err_tip span {
      vertical-align: middle; }
    .registe .wrapper .btn332 {
      width: 330px;
      height: 42px;
      margin: 0 auto;
      line-height: 42px;
      text-align: center;
      font-size: 14px;
      display: block;
      cursor: pointer;
      border: 1px solid #e8e8e8;
      overflow: hidden; }
    .registe .wrapper .btn_reg_1 {
      background-color: #ff6700;
      margin-top: 15px;
      border: 1px solid rgba(186, 186, 186, 0.3);
      color: #fff; }
    .registe .wrapper .btn_reg_1:hover {
      background: #ff936a; }
    .registe .wrapper input[type="button"], .registe .wrapper input[type="submit"], .registe .wrapper input[type="reset"], .registe .wrapper a {
      -webkit-appearance: none;
      appearance: none; }
    .registe .wrapper .other_register_area {
      padding-bottom: 20px; }
    .registe .wrapper .btn_reg_2 {
      background: #fff;
      margin-top: 10px;
      border: 1px solid #ddd;
      color: #7c7c7c; }
    .registe .wrapper .facebook_area {
      display: none !important; }
    .registe .wrapper .icon_select {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-top: -4px;
      _margin-top: 0;
      display: inline-block;
      vertical-align: middle;
      background: url(../images/registe/empty.png);
      _background: none; }
  .registe .n-footer {
    color: #9d9d9d;
    text-align: center;
    height: 80px;
    margin-top: -80px; }
  .registe .nf-link-area {
    text-align: center; }
  .registe .nf-link-area li {
    display: inline-block; }
  .registe .nf-link-area a {
    display: inline-block;
    padding: 0 10px;
    color: #757575; }
  .registe .nf-link-area a:hover, .registe .nf-link-area a.current {
    color: #333; }
  .registe .nf-intro {
    padding: 10px; }
  .registe .beianlink {
    color: #9d9d9d; }
